<h2 *ngIf="employee.id===undefined">New Employee</h2>
<h2 *ngIf="employee.id!==undefined && !viewMode">Editing: {{ employee.name }}</h2>
<h2 *ngIf="viewMode">Viewing: {{ employee.name }}</h2>
<hr>

  <form [formGroup]="employeeForm" (ngSubmit)="save(employeeForm.value)">
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="name">Name</label>
        <input formControlName="name"  type="text" class="form-control" aria-describedby="emailHelp" required>
        <span class="badge badge-danger" *ngIf="employeeForm.get('name').hasError('required') && employeeForm.get('name').touched">Campo requerido</span>
      </div>
      <div class="col-sm-6">
        <label for="name">Area</label>
        <select formControlName="area" class="form-control" (change)="onChangeArea()">
          <option [ngValue]="null" disabled>Choose area</option>
          <option *ngFor="let area of areas" [ngValue]="area">
          {{ area }}
          </option>
        </select>
        <span class="badge badge-danger" *ngIf="employeeForm.get('area').hasError('required') && employeeForm.get('area').touched">Campo requerido</span>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="name">Dob</label>
        <input formControlName="dob" type="date" class="form-control" aria-describedby="emailHelp">
        <span class="badge badge-danger" *ngIf="employeeForm.get('dob').hasError('required') && employeeForm.get('dob').touched">Campo requerido</span>
        <span class="badge badge-danger"
          *ngIf="employeeForm.get('dob').errors &&
                employeeForm.get('dob').errors.ageMax &&
                employeeForm.get('dob').touched">Debes ser mayor de 18 años</span>
      </div>
      <div class="col-sm-6">
        <label for="name">Job title</label>
        <select formControlName="jobTitle" class="form-control">
          <option [ngValue]="null" disabled>Choose job title</option>
          <option *ngFor="let job of jobs" [ngValue]="job.id">
          {{ job.name }}
          </option>
        </select>
        <span class="badge badge-danger" *ngIf="employeeForm.get('jobTitle').hasError('required') && employeeForm.get('jobTitle').touched">Campo requerido</span>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="name">Country</label>
        <select formControlName="country" class="form-control">
          <option [ngValue]="null" disabled>Choose country</option>
          <option *ngFor="let country of countries" [ngValue]="country.numericCode">
          {{ country.name }}
          </option>
        </select>
        <span class="badge badge-danger" *ngIf="employeeForm.get('country').hasError('required') && employeeForm.get('country').touched">Campo requerido</span>
      </div>
      <div class="col-sm-6">
        <label for="name">Username</label>
        <input formControlName="username" type="text" class="form-control" aria-describedby="emailHelp">
        <span class="badge badge-danger" *ngIf="employeeForm.get('username').hasError('pattern') && employeeForm.get('username').touched">No se permiten caracteres especiales</span>
        <span class="badge badge-danger" *ngIf="employeeForm.get('username').hasError('required') && employeeForm.get('username').touched">Campo requerido</span>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="name">Hire Date</label>
        <input formControlName="hireDate" type="date" class="form-control" aria-describedby="emailHelp">
        <span class="badge badge-danger" *ngIf="employeeForm.get('hireDate').hasError('required') && employeeForm.get('hireDate').touched">Campo requerido</span>
      </div>
      <div class="col-sm-6" [hidden]="!([3,4].includes(employeeForm.get('jobTitle').value))">
        <label for="name">Tip rate</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">%</span>
          </div>
          <input formControlName="tipRate" type="text" class="form-control">
        </div>
      </div>
    </div>
      <div class="form-group form-check">
        <input formControlName="status" type="checkbox" class="form-check-input">
        <label class="form-check-label" for="exampleCheck1">Status</label>
      </div>
    <a class="btn btn-primary" [routerLink]="['/employees']" role="button">Volver</a>
    <input [disabled]="employeeForm.invalid || viewMode" class="btn btn-primary" type="submit" value="Save">
  </form>


