<h1>Employees</h1>
<hr>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="material-icons">search</i></span>
  </div>
  <input type="text" class="form-control" (keyup)="search($event)">
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name (job title)</th>
      <th scope="col">Age</th>
      <th scope="col">Username</th>
      <th scope="col">Hire Date</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employeesResult; let i = index">
      <td>{{employee.name}} | {{ allJobs[employee.jobTitle].name }} </td>
      <td>{{employee.age}}</td>
      <td>{{employee.username}}</td>
      <td>{{employee.hireDate}}</td>
      <td>

        <button type="button" class="btn btn-light" [routerLink]="['/employee',employee.id]"><i class="material-icons">edit</i></button>
        <button type="button" class="btn btn-light" [routerLink]="['/employee','view', employee.id ]"><i class="material-icons">remove_red_eye</i></button>
        <button type="button" class="btn btn-light" (click)="deleteEmployee(employee.id, i)"><i class="material-icons">delete_forever</i></button>
      </td>
    </tr>
  </tbody>
</table>

<a class="btn btn-primary" [routerLink]="['/employee/new']" role="button">Add new employee</a>
